/* .App {
    position: relative;
    background-image: url("./images/home.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    background-attachment: fixed;

    text-align: center;
    height: 100%;
    width: 100%;
  } */