.form-container {
    background-image: url('../../images/img-landing.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-attachment: fixed;     /* para dejar fija la img de fondo y que no se modifique de tamaño */
    margin-top: -18px;
    padding-bottom: 102px;
    overflow: hidden;
}
  
.backToHome {
    position: absolute;
    top: 25px;
    left: 25px;
}

.form {
    margin: -70px;
    padding: 20px;
}

.button {
    background-color: #1b7da8;
    opacity: 0.8;
    color: white;    
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
}

.button:hover {
    background-color: #5b76b4;
    color: #fff;
    cursor: pointer;
    opacity: 0.8;
}


.title {
    font-size: 48px;
    text-align: center;
    margin-top: 130px;
    color:rgb(38, 140, 153)
}

.container-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.form-input {
    display: inline-block;    
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
}

.range-input {
    width: 300px;
    margin: 10px 0;
}

.button-create {
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 20px;
    background-color: #48a749;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    opacity: 0.9;
    font-weight: bold;
    
  }

  .button-create:hover {
    background-color: #9cb0b0;
    opacity: 0.8;
  }


.temperaments-options select {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
}


.form-temperaments__div {
    display: flex;
    align-items: center;
    margin: 5px;
    padding: 5px;
    background-color: #f2f2f2;
    border-radius: 4px;
}


.form-temperaments__div button {
    margin-left: 5px;
    background-color: #fcfcfc;
    color: rgb(19, 33, 158);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}