.landing-container {
    position: relative;
    background-image: url("../../images/image2.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vw; /* Utilizo viewport height para ocupar el 100% de la altura de la pantalla */
    width: 100%;
    background-attachment: fixed; /* para dejar fija la img de fondo y que no se modifique de tamaño */
    /* margin-top: -18px; */
    /* padding-bottom: 292px; */
    overflow-x: hidden;
  }
  
  .header-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .landing-title {
    font-size: 6vw;
    color: rgb(20, 76, 139);
    padding: 10px;
    /* margin-top: -90px; */
  }
  
  .gif-container {
    background-image: url("../../gifs/dog.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 5vw;
    max-width: 200px;
    max-height: 200px;
    /* margin-bottom: 50px; */
  }
  
  .landing-button {
    background-color: rgb(42, 128, 162);
    padding: 2vw 4vw;
    color: #fff;
    border-radius: 10px;
    font-size: 2vw;
    border: 2px solid #fff;
  }
  
  .landing-button:hover {
    background-color: rgb(30, 195, 224);
    transform: scale(1.1);
    cursor: pointer;
  }
  
  .footer-container {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 50px;
  }
  
  a {
    text-decoration: none;
  }
  
  .footer-container a {
    text-decoration: none;
    font-size: 20px;
    color: rgb(162, 229, 246);
  }
  
  .footer-container h3 {
    color: white;
  }
  
  .middle-landing-container {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-top: 50px; */
    padding-bottom: 10vh;
}

/* Media query para pantallas más pequeñas */
@media (max-width: 768px) {
  .landing-title {
    font-size: 8vw;
  }

  .gif-container {
    padding: 10vw;
    max-width: 150px;
    max-height: 150px;
  }

  .landing-button {
    padding: 3vw 8vw;
    font-size: 6vw;
  }
}